<%- include('partials1/header1'); -%>


<div class="container my">
    <form action="/error">
        <img src="/img/icon-!.png" alt="" width="200" height="150">
    <h4>Available seat: <%= bseat  %>  You can't buy more than <%= bseat  %> </h4>
    <h4><a href="/bus">   Buy Ticket</a></h4>
    </form>
</div>


<%- include('partials/footer'); -%>