<%- include('partials/header'); -%>


<div class="container my">
    <form action="/error">
        <img src="/img/icon-!.png" alt="" width="200" height="150">
    <h4>Wrong email/password combination!  </h4>
    <h4><a href="/">   Back to login</a></h4>
    </form>
</div>


<%- include('partials/footer'); -%>