<%- include('partials1/header1'); -%>


<h1>TRAIN</h1>
<hr>
<div class="container user-details ">
    <form action="/train" method="post">
        <div class="row col-lg-12">
            <div class="col-lg-6">
                <div class="row col-lg-12 input-box">
                    <div class="col-lg-6 ">
                        <span class="details">From</span>
                        <input type="text" placeholder="&#xf3c5 Enter City" style="font-family:Arial, FontAwesome" list="suggestions" required name="tstartPoint">
                        <datalist id="suggestions">
                            <option value="Dhaka">
                            <option value="Cox's Bazar">
                        </datalist>
                    </div>
                    <div class="col-lg-6">   
                        <span class="details">To</span>
                        <input type="text" placeholder="&#xf3c5 Enter City" style="font-family:Arial, FontAwesome" list="suggestions" required name="tendingPoint">
                        <datalist id="suggestions">
                            <option value="Dhaka">
                            <option value="Cox's Bazar">
                        </datalist>
                    </div>

                    <div class="col-lg-12 ">
                        <span class="details">Train Class</span>
                        <input type="text" placeholder="&#xf0c9   1st Class/2nd Class" style="font-family:Arial, FontAwesome" list="classsuggestions" required name="tcategory">
                        <datalist id="classsuggestions">
                            <option value="First Class">
                            <option value="Second Class">
                        </datalist>
                    </div>
                    <!-- practice -->
                    <div class="col-lg-6 ">
                        <span class="details">Train Name</span>
                        <input type="text" placeholder="&#xf239 " style="font-family:Arial, FontAwesome" list="trainsuggestions" required name="tname">
                        <datalist id="trainsuggestions">
                            <option value="Karnafuli Express">
                            <option value="Subarna Express">
                            <option value="Sonar Bangla Express">
                        </datalist>
                    </div>
                    <div class="col-lg-6">
                        <span class="details">No. of Tickets </span>
                        <input type="text" placeholder="&#xf145" style="font-family:Arial, FontAwesome"  required name="tticket">
                    </div>
                    <!-- practice -->
                    <div class="button row col-lg-12 ">
                        <input type="submit" value="submit">
                      </div>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="/img/train.PNG" alt="" width="618" height="350">
            </div>
        </div>
    </form>
</div>



<%- include('partials/footer'); -%>