<%- include('partials1/header1'); -%>

<div class="">
    <h2 class="wavy my"><i>Choose your vehicle</i> </h2>
</div>
<div class="row  col-lg-12">
    <div class=" col-lg-6">
      <div class="card">
        <a href="/train"><img src="/img/locomotive-joypixels.gif" alt="" width="430" height="271"></a>
      </div>
      <a href="/train"><h4 class="my">TRAIN</h4></a>
    </div>
  
    <div class=" col-lg-6">
      <div class="card gfg">
        <a href="/bus"><img src="/img/ad862857f01512fa44bf4730f5fdc276.gif" alt="" width="430" height="320"></a>
        <a href="/bus"><h4 class="second-txt my">
          BUS
        </h4></a>
      </div>
      <!-- <p class="my">BUS</p> -->
    </div>
</div>



<%- include('partials/footer'); -%>